.btn-main{
    background-color: #0075ff;
    color:white;
    padding: 0.25rem 1,5rem;
    border:none;
    border-radius: 0.25rem;
    width: 25%;
    height: 35px;
    border: 1px solid #0075ff;

}

.btn-main:hover{
    background-color: white;
    color: #0075ff;
    border: 1px solid #0075ff;
}

.main-menu li{
    list-style: none;
    display: inline;
    font-size: 0.75rem;
    margin: 1rem;
}

.icon{
    font-size: 2rem;
    padding: 0.2rem 0.4rem;
    color:#0075ff;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000055;
    margin-left: 15px;
    align-items: center;
    
}
.feature{
    margin-top: 1rem;
    text-align: center;
}

.icon-feature{
    font-size: 6rem;
    text-align: center;
    color:#0075ff;
    
    margin-left: 15px;
    align-items: center;
}

.title{
    text-align: center;
}